---
---
$highlight: rgb(166, 52, 52);
$text-color: rgb(79, 78, 78) !default;
@import url('https://fonts.googleapis.com/css?family=Fjord+One');
body{
  font-family: 'Fjord One', serif;
}

.home{
  flex: 1;
  width: fill;

  .flex{
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
  }
}

.col-1{
  max-width: 400px;
  margin: 10px;
  text-align: center;
}

.connect-wrap{
  h3{
    text-align: left;
    border-bottom:dashed $text-color;
    border-bottom-width: 1px;
  }
  a{
    margin: 4px;
    color: $text-color;
  }
  a:hover{
    color: $highlight;
    text-decoration: none;
  }
  i{
    font-size: 150%;
    margin-bottom: 20px;
  }
}
.indent{
  margin-left: 50px;
}
.col-2{
  margin: 0 10px;
  max-width: 600px;
}

.about-wrap{
  margin-top: 100px;
  h2{
    text-align: left;
  }
  p{
    margin-top: 20px;
    text-align: left;
  }
}
