
<div class="projects">
  <h2>Projects</h2>
  <div class="project-container">
  <a href="https://github.com/twmilli/smitten-kitchen" target="_blank" style="background-image: url(/img/portfolio/smitten.png);" alt="" class="project">
    <div class="project-meta">Smitten Kitchen: A mobile app for my favorite food blog</div>
  </a>
  <a href="https://investracker.herokuapp.com/" target="_blank" style="background-image: url(/img/portfolio/invest.png);" alt="" class="project">
    <div class="project-meta">InvestTracker: Track stock tickers in real-time</div>
  </a>

  <a href="https://open-bar.herokuapp.com/" target="_blank" style="background-image: url(/img/portfolio/openbar.png);" alt="" class="project">
    <div class="project-meta">OpenBar: Nightlife Coordination App</div>
  </a>
  <a href="http://project-vote.surge.sh/" target="_blank" style="background-image: url(/img/portfolio/voting.png);" alt="" class="project">
    <div class="project-meta">ProjectVote: A voting app built with React.js</div>
  </a>
  <a href="https://twmilli.github.io/reactRogueGame" target="_blank" style="background-image: url(/img/portfolio/rogue.png);" alt="" class="project">
    <div class="project-meta">Castle Crushing: A rogue game built with React.js</div>
  </a>
  <a href="https://github.com/twmilli/Zombie-Game" target="_blank" style="background-image: url(/img/portfolio/zombie.png);" alt="" class="project">
    <div class="project-meta">Zombie Shooter Game: A new take on a classic genre</div>
  </a>
  <a href="http://twmilli.github.io/simon/" target="_blank" style="background-image: url(/img/portfolio/simon.png);" alt="" class="project">
    <div class="project-meta">Simon: A new take on an arcade classic</div>
  </a>
  <a href="https://twmilli.github.io/Meteorite_Mapping/" target="_blank" style="background-image: url(/img/portfolio/meteorite.png);" alt="" class="project">
    <div class="project-meta">Mapping Meteorite Data: Built using D3.js</div>
  </a>
  <a href="http://twmilli.github.io/ticTacToe/" target="_blank" style="background-image: url(/img/portfolio/tictactoe.png);" alt="" class="project">
    <div class="project-meta">TicTacToe: A classic game with unbeatable AI</div>
  </a>
  <a href="https://twmilli.github.io/Heat_Map_Vis/" target="_blank" style="background-image: url(/img/portfolio/heatmap.png);" alt="" class="project">
    <div class="project-meta">Heat Map Visualization: Built using D3.js</div>
  </a>
  </div>
  <a class='link-btn' target="_blank" href="https://github.com/twmilli"><i class="fa fa-github"> Visit My Github</i>
  </a>
  <a href="/files/resume.pdf" download="resume.pdf" class="link-btn">Download My Resume</a>

  <div class="contact">
    <h1 style="color:black;"> Contact Me!
    </h1>
    <h3>
        If you'd like to get in touch with me, email me at:
        <a href="mailto:twm013@bucknell.edu" target="_blank"> twm013@bucknell.edu
        </a>
      </h3>
    <h4>
       &copy Taylor Milliman.  All rights reserved.
    </h4>
  </div>
</div>
