---
layout: default
---
<link rel="stylesheet" href="{{ site.github.url }}/css/about.css">
<div class="about-wrap">
  <h1 align="center">About</h1>
  <img class="banner-img" src="{{ site.github.url }}/img/aboutpage.jpg">
  <div class="content">
    <p>Hi, I'm Taylor.  Right now, I'm focused on finishing my junior year at Bucknell where I study Computer Science and Chemical Engineering.
    </p>
    <p>When I'm not in class, I'm focused on becoming a better programmer, cooking delicious food, and writing more regularly.
    Confession: I also love to indulge in an episode of Chef's Table in my free time.
    </p>
    <p></p>

    <p>Last year, I published a piece on <a href="https://medium.com/@twm013">medium</a> documenting my journey of learning to code.
      The <a target="_blank" href="https://medium.freecodecamp.com/how-doing-something-i-love-landed-me-a-top-tier-tech-internship-fe78d8b74e48#.bdjeknwf7">article</a> received over 2000 recommends on medium and was republished by the <a target="_blank" href="http://observer.com/2016/12/how-i-landed-a-top-tier-tech-internship-by-doing-something-i-love/">Observer</a>.
      You can see other articles that I've written on this blog, or on <a href="https://medium.com/@twm013">medium</a>.</p>

    <p>I am also an avid reader.  Here's a list of <a href="/reading">books</a> that i've read or am currently reading.
    If you have any sugestions of books to add to my reading list, feel free to send them my way.</p>
    <p>This summer, I'll be interning at Braintree in San Francisco.
      I have no idea what the next few years will bring, but I hope to stay passionate about whatever I'm working on,
      and hopefully make the world just a little bit better in the process.</p>

    <p>If you want to reach out, feel free to email me at twm013@bucknell.edu.
      If you are in my area (Bucknell during the school year, SF this summer) I am more than happy to make you dinner in exchange for good conversation.</p>

  </div>
</div>
