---
layout: default
---
<link rel="stylesheet" href="{{ site.github.url }}/css/home.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/font-awesome-4.7.0/css/font-awesome.min.css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:400px;}
</style>
<div class="home">
  <div class="flex">
    <div class="col-2 indent">
      {% include email-newsletter.html %}

      {{ content }}

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" alt="" class='thumbnail'>
            <h2>{{ post.title | escape }}</h2>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-1">
      <div class="connect-wrap">
        <h3 class="connect-text">Let's Connect</h3>
        <a target="_blank" href="https://github.com/twmilli"> <i class="fa fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/taylor-milliman/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:twm013@bucknell.edu" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.freecodecamp.com/twmilli" target="_blank">
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/taylor.milliman1" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/taytaytrey/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div class="about-wrap">
        <h2>About</h2>
        <img src="{{ site.github.url }}/img/about.jpg" class="about-img">
        <p>Hi! I'm Taylor.  I'm currently a student at Bucknell University where I study Chemical Engineering and Computer Science.
          I'm passionate about Coding, Cooking, and the Outdoors. I recently landed my first internship at <a href="https://www.braintreepayments.com" target="_blank">Braintree</a>.
          You can read about it <a href="https://medium.freecodecamp.com/how-doing-something-i-love-landed-me-a-top-tier-tech-internship-fe78d8b74e48#.etfq13z3d" target="_blank">here</a>.
          <a href="/about">Learn More!</a></p>
      </div>

      {% include email-newsletter.html %}
  </div>
  </div>
</div>
